/* Document Reset */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Flexbox */
.f {
  display: flex !important;
}

/* Flex Direction */
.fr {
  flex-direction: row;
}
.fc {
  flex-direction: column;
}
.fcr {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.fw {
  flex-wrap: wrap;
}
.fnw {
  flex-wrap: nowrap;
}

/* Vertical Flex Align */
.vc {
  align-items: center;
}
.vs {
  align-items: flex-start;
}
.ve {
  align-items: flex-end;
}

/* Flex Spacing */
.sb {
  justify-content: space-between;
}
.sa {
  justify-content: space-around;
}
.sc {
  justify-content: center;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

/* Projects */

html {
  background: #000;
  font-family: "Noto Sans JP", sans-serif;
}

.main {
  color: #fff;
  padding: 0 2em;
}

.inner {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

nav ul {
  margin: auto 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 25px 0;
}

.projects img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.projects .slide {
  display: none;
}

.active {
  display: block !important;
}

.controls {
  font-size: 2em;
  padding: 25px 0;
  margin: 0 0 0 auto;
  max-width: 150px;
  width: 100%;
  position: absolute;
  bottom: 60px;
  right: 0;
}

.controls i {
  cursor: pointer;
  padding: 10px 0;
}

.slide h2 {
  font-size: 2em;
  margin: 25px 0;
}

.single-project {
  display: none;
}

.active-page {
  display: block !important;
}

.single-project,
.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  overflow-y: scroll;
  padding: 50px 0;
  display: none;
}

.single-project img {
  max-width: 600px;
  display: block;
  margin: 50px auto;
}

.project-info {
  max-width: 800px;
  margin: 0 auto;
}

.project-info h3 {
  margin: 20px 0;
  font-size: 2em;
}

.project-info p {
  line-height: 1.5;
}

.header {
  position: relative;
  z-index: 1;
  background: #000;
  padding: 20px 0;
}

.back {
  max-width: 800px;
  display: block;
  margin: 50px auto;
  font-size: 1.5em;
}

.page .inner {
  padding: 50px 0;
}
